body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    background-image: url("bg.jpg");
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 420px;
    margin: 40px auto;
    padding: 24px;
    border-radius: 12px;
    background: #7d0d08;
    box-shadow: 0 6px 25px rgba(0, 255, 170, .08);
}

.title {
    text-align: center;
    color: #00ffb3;
    margin-bottom: 12px;
}

.form-card input,
.form-card select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #2a2a2a;
    background: #17191b;
    color: #fff;
}

.form-card input:focus,
.form-card select:focus {
    outline: 2px solid #00ffb3;
    border-color: #00ffb3;
}

.btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #00ffb3;
    color: #000;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.output {
    text-align: center;
    margin-top: 16px;
    font-size: 18px;
    color: #bfffe0;
}

.legend {
    margin-top: 14px;
    font-size: 12px;
    color: #b6cfc4;
}
